.container {
    position: relative;
    width: 420px;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.03 ease;
    margin-left: 30px;
    background-color: rgb(39, 207, 219);
    align-items: center;
    justify-items: center;
    font-size: 15px;
}
