* {
    text-decoration: none;
}

.container {
    background-color: #272424;
    padding: 10px;
}

.container ul {
    display: flex;
    text-align: center;
    gap: 15px;
    list-style-type: none;
    justify-content: center;
}

li {
    color: rgb(39, 207, 219);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 30px;
    font-size: 30px;
}

li:hover {
    color: rgb(139, 190, 194);;
}