.container {
    position: relative;
    width: 420px;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.03 ease;
    margin-left: 30px;
    background-color: #141414;
    align-items: center;
    justify-items: center;
    font-size: 15px;
    color: rgb(39, 207, 219); 
    border: 3px solid rgb(39, 207, 219);
}

.container:hover {
    transform: scale(1.1);
    z-index: 1;
}

img {
    width: 250px;
    height: 290px;
}