.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #272424;
    color: rgb(39, 207, 219);
    padding: 10px;
    height: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}